# ModelSim
modelsim.ini
transcript
vsim.wlf
*.wlf
*.vstf
*.vcd
work/
tb/work/

# Python
__pycache__/
*.pyc
*.pyo

# Vivado
*.jou
*.log
*.pb
*.str
*.xpe
.Xil/
build/vivado/.Xil/
build/vivado/rvp_nexys4.runs/
build/vivado/rvp_nexys4.hw/
build/vivado/rvp_nexys4.cache/
build/vivado/rvp_nexys4.ip_user_files/

build/vivado/usage_statistics_*

# Temp
document/temp/
document/log/*.log

# Project-specific
study/
.workbuddy/

# OS
Thumbs.db
.DS_Store
